<div class="main-container">
    <div class="form-content">
      <h2>Forgot Password</h2>
      <form>
        <div class="input-group">
          <input type="email" placeholder="Email" name="email" [(ngModel)]="email">
        </div>
        <button type="button" class="submit-btn" (click)="forgotPassword()">Send Link</button>
      </form>
      <a href="/login" class="toggle-button">
        {{ isSignup ? 'Back to Login...' : 'Don\'t have an account? Sign Up' }}
      </a>
    </div>
  </div>