.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../assets/bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .form-content {
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    transition: all 0.5s ease-in-out;
    /* border: 1px solid #534c4c; */
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
  }

  .input-group {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
  }
  
  input:focus {
    border-color: #4caf50;
  }

  .submit-btn {
    background-color: #86c3e9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #0961a0;
  }

  .toggle-button {
    color: #000;
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
  }