<div class="main-container">
  <div class="form-content">
    <h2>Login</h2>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <form>
      <div class="input-group">
        <input type="email" placeholder="Email" name="email" [(ngModel)]="email">
      </div>
      <div class="input-group">
        <input type="password" placeholder="Password" name="password" [(ngModel)]="password">
      </div>
      <button type="button" class="submit-btn" (click)="login()">Login</button>
      <a href="/forgot-password" class="forgot-password">Forgot password?</a>
      <div class="signup">
        <a routerLink="/signup" class="toggle-button">
          {{ isSignup ? 'Already have an account? Login' : 'Don\'t have an account? Sign Up' }}
        </a>
      </div>
      
      <div class="google-signin shadow">
      <a href="" (click)="signInWithGoogle()">
        <img src="../../../assets/google.webp" alt="Google logo">
        Sign in with Google
      </a>
      </div>
    </form>
  </div>
  <!-- <button class="toggle-button" (click)="toggleForm()">
    {{ isSignup ? 'Already have an account? Login' : 'Don\'t have an account? Sign Up' }}
  </button> -->
</div>
