/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* @media screen and (max-width: 450px) {
    ::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
        --mdc-icon-button-state-layer-size: 40px;
        width: var(--mdc-icon-button-state-layer-size);
        height: var(--mdc-icon-button-state-layer-size);
        padding: 8px;
    }
} */